@import "tailwindcss";

@theme{
  --color-samara-primary: #1A3783;
  --color-samara-secondary: #0071B7;
  --color-samara-white1: #FFFFFF;
  --color-samara-white2: #F8F8F8;
  --color-samara-white2: #F8F8F8;
  --color-samara-dark1: #0A1124;
  --color-samara-text: #323232;
}